ENV_URL = 'http://sis-test-bankpass.ssb.it/bankpass/master/main?PAGE=MASTER'
API_URL = 'http://sis-test-bankpass.ssb.it/bankpass/apibo/apiBO.app'
START_SECRET = ''
RESULT_SECRET = ''

DEFAULT_OPERATOR = 'PROVA001'
